@page "{id}"
@*EditRide/80 path variable *@
@*asp-route-id  /DeleteRide?id=80   Query string*@

@model ZPool.Pages.Rides.EditRideModel
@{ ViewData["Title"] = "EditRide"; }

<h3>Edit this Ride</h3>
<div class="form-group">
    @*<div class="col-md-4">*@
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ride.RideID" />
        <div class="form-group">
            <label asp-for="@Model.ride.StartTime" class="control-label"></label>
            <input asp-for="@Model.ride.StartTime" class="form-control rounded-border" style="max-width: 13rem" />
            <span asp-validation-for="@Model.ride.StartTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ride.DepartureLocation" class="control-label"></label>
            <input asp-for="@Model.ride.DepartureLocation" class="form-control rounded-border" style="max-width: 13rem" />
            <span asp-validation-for="@Model.ride.DepartureLocation" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ride.DestinationLocation" class="control-label"></label>
            <input asp-for="@Model.ride.DestinationLocation" class="form-control rounded-border" style="max-width: 13rem" />
            <span asp-validation-for="@Model.ride.DestinationLocation" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ride.SeatsAvailable" class="control-label"></label>
            <input asp-for="@Model.ride.SeatsAvailable" class="form-control rounded-border" style="max-width: 13rem" />
            <span asp-validation-for="@Model.ride.SeatsAvailable" class="text-danger"></span>
        </div>
        <div class="form-group">
            @*<label asp-for="@Model.ride.CarID" class="control-label"></label>*@
            <input hidden asp-for="@Model.ride.CarID" class="form-control rounded-border" style="max-width: 13rem" />
            @*<span asp-validation-for="@Model.ride.CarID" class="text-danger"></span>*@
        </div>
        <div class="form group">
            <input type="submit" value="Save Changes" class="btn btn-outline-success rounded-border" />
            <a asp-area="Identity" asp-page="/Account/Manage/MyRides">Back to My Rides</a>
        </div>
    </form>
    @*</div>*@

</div>

